.calculator {
  display: flex;
  background-color: black;
  flex-direction: column;
  height: 700px;
  min-width: 320px;
  width: 500px;
  box-shadow: -1px 1px 80px 10px rgba(0, 0, 0, 0.75);
  border-radius: 5%;
  padding: 5px;
}
