@use "../components/calculator.scss" as let;
.display {
  position: relative;
  height: 150px;
  span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    color: let.$light-cal-num;
    font-family: "Courier New", Courier, monospace;
  }
  #phantomNum {
  position: absolute;
  bottom: 20px;
  top: 30px;
  right: 20px;
  font-size: 20px;
  color: let.$light-btn-basBtn;
  font-family: "Courier New", Courier, monospace;
}
}


html.dark .display {
  position: relative;
  height: 150px;
  span {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    color: let.$dark-cal-num;
    font-family: "Courier New", Courier, monospace;
  }
}
@media (max-width: 600px) {
  .display #num {
    font-size: 20px;
  }
  .display #phantomNum {
    font-size: 10px;
    top: 70px;
  }
  html.dark .display #num {
    font-size: 20px;
  }
  html.dark .display #phantomNum {
    font-size: 10px;
    top: 70px;
  }
}