.display {
    position: relative;
    height: 150px;
    color: white;
    span {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 60px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
}